In [1]:
# DATA LOADING

from mobility_data_loader import mobility_data_loader

# Process whole dataset into intermediate form
dataframe = mobility_data_loader('20240101','20240101')

1
20240101 dataframe shape
(85653, 18)

In [3]:
df = dataframe['20240101']

In [7]:
df.head()

,common_id,latitude_o,longitude_o,arrive_time_o,stay_time_o,depart_time_o,move_time,mode,latitude_d,longitude_d,arrive_time_d,stay_time_d,depart_time_d,purpose_flg,latitude_h,longitude_h,latitude_w,longitude_w
0,67e6401f1f6460684eed82521ce87f02,34.680007,135.575515,2023-12-31 22:16:24,104,2024-01-01 00:00:00,64,train,34.680177,135.575084,2024-01-01 01:04:15,66,2024-01-01 02:10:13,6,34.677625,135.576437,34.685958,135.591313
1,3275d92ef18f9a6eb22f4d90536a1404,33.805680,132.809934,2023-12-31 23:27:53,32,2024-01-01 00:00:00,7,car,33.805680,132.809938,2024-01-01 00:07:15,101,2024-01-01 01:48:07,6,33.803458,132.802688,33.843542,132.778813
2,f2aacb3154cc40a0445d6bbd911933b5,36.543807,136.620889,2023-12-31 14:18:01,582,2024-01-01 00:00:01,4086,walk,36.543701,136.620727,2024-01-03 20:06:13,20037,2024-01-17 18:02:59,6,36.543542,136.613813,36.543542,136.613813
3,c21eeabbff24abdc6a5df55d524abc59,36.708401,137.359956,2023-12-31 23:36:55,23,2024-01-01 00:00:01,6,walk,36.708400,137.359956,2024-01-01 00:06:55,438,2024-01-01 07:24:58,6,36.710042,137.352688,36.586792,136.627688
4,a86b7d031dc964a774127bd6776af940,35.352004,134.948453,2023-12-31 16:47:35,432,2024-01-01 00:00:02,6,car,35.351999,134.948505,2024-01-01 00:06:08,586,2024-01-01 09:52:21,6,<NA>,<NA>,<NA>,<NA>

In [4]:
import pandas as pd

# Read Tourists List
tourist_dataframe = pd.read_csv('E:\\IRP_noto_earthquake\\data\\processed\\tourists_common_ids.csv')

In [5]:
tourist_dataframe.shape

(423, 1)

In [6]:
tourist_dataframe.head()

                              common_id
0      f0edd6b6f8212254055afccab3e01e7a
1  792a4f51-2d56-4aae-928c-2952d820a9b9
2      ef0b4dd70578af454b85241236309c86
3      62814c206e61f36f31cc5c7655c188d3
4      a3ef6efaef7fe36a18ce6bf105420d2c

In [14]:
tourist_return_record = tourist_dataframe

In [16]:
tourist_return_record['returned'] = False
tourist_return_record['returnedOn'] = pd.NaT
tourist_return_record.head()

                              common_id  returned returnedOn
0      f0edd6b6f8212254055afccab3e01e7a     False        NaT
1  792a4f51-2d56-4aae-928c-2952d820a9b9     False        NaT
2      ef0b4dd70578af454b85241236309c86     False        NaT
3      62814c206e61f36f31cc5c7655c188d3     False        NaT
4      a3ef6efaef7fe36a18ce6bf105420d2c     False        NaT

In [8]:
df_tourist = df[df['common_id'].isin(tourist_dataframe['common_id'])]
df_tourist.shape

(1228, 18)

In [9]:
df_tourist.head()

,common_id,latitude_o,longitude_o,arrive_time_o,stay_time_o,depart_time_o,move_time,mode,latitude_d,longitude_d,arrive_time_d,stay_time_d,depart_time_d,purpose_flg,latitude_h,longitude_h,latitude_w,longitude_w
14,b42742fc1ea464a3c66a19c4b00ad603,36.896220,136.795218,2023-12-31 19:38:05,262,2024-01-01 00:00:11,51,car,36.896218,136.795423,2024-01-01 00:51:42,569,2024-01-01 10:20:59,1,36.895042,136.788938,36.895125,136.788813
69,f0edd6b6f8212254055afccab3e01e7a,37.090284,136.913888,2023-12-31 22:03:52,118,2024-01-01 00:01:25,305,car,37.090278,136.913713,2024-01-01 05:06:34,197,2024-01-01 08:24:01,4,34.469292,135.405063,34.469292,135.405063
113,792a4f51-2d56-4aae-928c-2952d820a9b9,36.984389,136.809213,2023-12-31 23:43:56,19,2024-01-01 00:02:41,12,car,36.984384,136.809174,2024-01-01 00:15:04,23,2024-01-01 00:38:01,5,36.502625,136.613813,36.502625,136.613813
269,193ece2acc31acf2f2a0bbb3be789655,36.522441,136.894921,2023-12-31 10:41:27,805,2024-01-01 00:06:09,26,car,36.522416,136.894923,2024-01-01 00:32:36,567,2024-01-01 09:59:19,6,36.520125,136.888937,36.520125,136.888937
293,ef0b4dd70578af454b85241236309c86,37.079951,136.934149,2023-12-31 23:16:52,50,2024-01-01 00:06:29,9,walk,37.080059,136.934179,2024-01-01 00:16:16,20,2024-01-01 00:36:37,2,36.559375,136.641312,36.628458,136.615188

In [10]:
from ishikawa_region_mapper import ishikawa_region_mapper
map, jpn_adm2 = ishikawa_region_mapper()

In [11]:
# Before earthquake happened, if left the region or destination was outside
import geopandas as gpd
import pandas as pd
from shapely.geometry import Point

def did_leave_the_region(df, jpn_adm2):
    
    # Convert DataFrame to GeoDataFrame with Points geometry
    geometry_destination = [Point(xy) for xy in zip(df['longitude_d'], df['latitude_d'])]
    gdf_destination = gpd.GeoDataFrame(df, geometry=geometry_destination, crs='EPSG:4326')

    # Spatial join with GeoJSON shapefile to find points within the shapefile
    gdf_destination_within_shape = gpd.sjoin(gdf_destination, jpn_adm2, op='within', how='inner')

    # Identify indices of points that are within the shapefile
    indices_within = gdf_destination_within_shape.index

    # Filter the original DataFrame to keep only rows with destination outside the shapefile
    filtered_df = df[~df.index.isin(indices_within)]

    return filtered_df

In [17]:
df_tourist_left_day1 = did_leave_the_region(df_tourist, jpn_adm2)
df_tourist_left_day1.shape

e:\IRP_noto_earthquake\.venv\lib\site-packages\IPython\core\interactiveshell.py:3577: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  exec(code_obj, self.user_global_ns, self.user_ns)

(297, 18)

In [18]:
import pandas as pd

# Assuming df_tourist_left_day1 is already defined

# Keep only the 'common_id' column and ensure unique values
df_tourist_left_day1_unique = df_tourist_left_day1[['common_id']].drop_duplicates()

# Display the resulting dataframe
df_tourist_left_day1_unique.shape

(186, 1)

In [20]:
df_tourist_left_day1_unique.head()

                                 common_id
14        b42742fc1ea464a3c66a19c4b00ad603
269       193ece2acc31acf2f2a0bbb3be789655
662       85a110c29f2f59e8967dff08d20d5358
971       6c294b621c23fda5d9abba10160e9bbf
1435  792a4f51-2d56-4aae-928c-2952d820a9b9

In [21]:
tourist_return_record.loc[tourist_return_record['common_id'].isin(df_tourist_left_day1['common_id']), 'returned'] = True
tourist_return_record.loc[tourist_return_record['common_id'].isin(df_tourist_left_day1['common_id']), 'returnedOn'] = pd.to_datetime('20240101')
tourist_return_record.head()

                              common_id  returned returnedOn
0      f0edd6b6f8212254055afccab3e01e7a     False        NaT
1  792a4f51-2d56-4aae-928c-2952d820a9b9      True 2024-01-01
2      ef0b4dd70578af454b85241236309c86     False        NaT
3      62814c206e61f36f31cc5c7655c188d3     False        NaT
4      a3ef6efaef7fe36a18ce6bf105420d2c     False        NaT

In [22]:
# Count the number of rows where returned is True
count_returned_true = tourist_return_record['returned'].sum()

print("Number of tourists who returned:", count_returned_true)

Number of tourists who returned: 186

In [ ]:
count_returned_true = tourist_return_record['returned'].sum()